# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/Ascend

# Ignore openFrameworks core
/libs/
/addons/
/examples/
/export/
/scripts/
/other/

# Ignore build artifacts
.vs/
*.obj
*.pdb
*.exe
*.lib
*.dll
bin/
obj/
ipch/

# Keep code
!src/
!bin/data/